<app-card titulo="Primeiro Componente" cor="#3d4d63">
  <app-primeiro-componente></app-primeiro-componente>
</app-card>

<app-card titulo="Aprofundando os conhecimentos em templates" cor="#3d0708">
  <app-segundo-componente></app-segundo-componente>
</app-card>

<app-card titulo="Pipe Customizado" cor="red">
  <app-pipe-customizado></app-pipe-customizado>
</app-card>

<app-card titulo="Two Way Data Binding">
  <app-two-way-data-binding></app-two-way-data-binding>
</app-card>

<app-card titulo="Renderizando Lsitas" cor="green">
  <app-renderizando-listas></app-renderizando-listas>
</app-card>

<app-card titulo="Componente Personalizado" cor="black">
  <app-componente-personalizado
    nome="Gabriel"
    sobrenome="Moreira"
  ></app-componente-personalizado>
  <app-componente-personalizado
    nome="Ayanokoji"
    sobrenome="Logica"
  ></app-componente-personalizado>
</app-card>

<app-card titulo="Interação entre componentes" cor="purple">
  <app-componente-pai></app-componente-pai>
</app-card>

<app-card titulo="Exemplo Serviço 01" cor="yellow">
  <app-exemplo-servico1></app-exemplo-servico1>
</app-card>

<app-card titulo="Exemple Serviço 02" cor="pink">
  <app-exemplo-servico2></app-exemplo-servico2>
</app-card>

<app-card titulo="Ciclo de Vida" cor="darkblue">
  <app-ciclo-de-vida-pai></app-ciclo-de-vida-pai>
</app-card>
